<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account Verification Using Email</title>
</head>

<body>
    <h1>Registration</h1>
    <h4 id="msg"></h4>
    <form id="FormSub" action="/otpsend" method="POST">
        <label for="email">Email : </label>
        <input type="text" placeholder="Email" id="email" name="email"><br><br>
        <label for="password">Password : </label>
        <input type="text" placeholder="Password" id="password" name="password"><br><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>

</html>